/* Defining color variables */
:root {
  --base-color: #F5F5F5;
  --main-accent: #334c9a;
  --alt-accent: #9eb4e3;
  --vivid-accent: #E9312C;
}

body {
  background-color: var(--base-color);
  color: var(--main-accent); /* Default text color */
}

a, .btn-main {
  background-color: var(--main-accent);
  color: white; /* Ensuring legibility */
}

a:hover, .btn-main:hover {
  background-color: var(--alt-accent);
}

.btn-vivid {
  background-color: var(--vivid-accent);
  color: white;
}

.navbar-brand {
  background-color: transparent !important; /* Overrides any other background color */
}

/* Adjust navbar link styles */
.navbar-nav .nav-link {
  color: var(--main-accent) !important; /* Apply main accent color to the text */
  background-color: transparent !important; /* Make navbar buttons transparent */
  border: none !important; /* Remove borders */
  padding: 0.5rem 1rem !important; /* Adjust padding */
}

/* Optional: Change hover/focus colors */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus {
  color: var(--alt-accent) !important; /* Change text color on hover/focus */
}

/* Adjust dropdown menu styles */
.navbar .dropdown-menu {
  border: none; /* Remove border */
}

/* Adjust dropdown item styles */
.navbar .dropdown-menu .dropdown-item {
  color: var(--main-accent) !important; /* Apply main accent color to the text */
  padding: 0.5rem 1rem !important; /* Adjust padding */
}
